*{
    background-color: whitesmoke;
}
body {
    font-family: sans-serif;
    text-align: center;
    padding-left: 95px;
}

.heading{
    font-size: 35px;
    color: darkblue;
    background-color: rgb(220, 220, 9);
}

td {
    width: 5%;
    color: white;
}

table {
    border: 5px solid darkblue;
    width: 80vw;
    margin: 30px;
    /* padding: 45px; */
}